@import "../shared/colors.scss";
@import "../shared/vars.scss";
@import "../shared/mixins.scss";

.advantages-content {
  position: relative;
  // background: linear-gradient(175deg, transparent 175px, $graylight 175px);

  &::before {
    position: absolute;
    z-index: -10;
    display: block;
    content: "";
    width: 100%;
    height: 100%;

    background-color: $graylight;

    @media (max-width: $mobile-width-only) {
      clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
    }

    @media (min-width: $tablet-width) {
      clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
    }

    @media (min-width: $desktop-width) {
      clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
    }
  }

  overflow: hidden;

  @media (max-width: $mobile-width-only) {
    // padding-top: 129px;
    clip-path: polygon(0 0, 100% 0%, 100% 94.5%, 0 94.5%);
  }

  @media (min-width: $tablet-width) {
    clip-path: polygon(0 0, 100% 0%, 100% 87%, 0 87%);
  }

  @media (min-width: $desktop-width) {
    padding-top: 16px;
    padding-bottom: 59px;
    clip-path: none;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: $tablet-width) {
      flex-direction: row-reverse;
      justify-content: space-between;
      // align-items: center;
    }

    @media (min-width: $desktop-width) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (max-width: $mobile-width-only) {
      margin-bottom: 40px;
      margin-top: 92px;
    }

    @media (min-width: $tablet-width) {
      width: 310px;
      margin-left: 40px;
      margin-top: 70px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 0;
      width: 100%;
      display: flex;
      align-content: flex-start;
      // align-items: flex-start;
      // justify-content: space-between;
    }
  }

  &__item + &__item {
    @media (max-width: $mobile-width-only) {
      margin-top: 32px;
    }

    @media (min-width: $tablet-width) {
      margin-top: 33px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 0;
    }
  }

  &__item:nth-child(1) {
    @media (min-width: $desktop-width) {
      margin-left: -11px;
      margin-right: 90px;
    }
  }

  &__item:nth-child(2) {
    @media (min-width: $desktop-width) {
      margin-right: 95px;
    }
  }

  &__item:nth-child(3) {
    @media (min-width: $desktop-width) {
      // margin-left: -140px;
    }
  }

  &__article {
    display: flex;
    flex-direction: column;

    @media (max-width: $mobile-width-only) {
      align-items: center;
    }

    @media (min-width: $tablet-width) {
      align-items: flex-start;
    }

    @media (min-width: $desktop-width) {
      align-items: center;
    }
  }

  &__header {
    margin: 0;
    padding: 0;
    z-index: 10;

    @include font(normal, 700, 18px, 24px);

    & br {
      display: none;
    }

    @media (max-width: $mobile-width-only) {
      margin-bottom: 11px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 12px;
    }

    @media (min-width: $desktop-width) {
      margin-top: -25px;

      @include font(normal, 700, 30px, 30px);
      text-align: center;

      & br {
        display: block;
      }
    }
  }

  &__item:nth-child(1) &__header {
    @media (min-width: $tablet-width) {
      margin-bottom: 12px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 22px;
    }
  }

  &__item:nth-child(2) &__header {
    @media (min-width: $tablet-width) {
      margin-bottom: 12px;
    }

    @media (min-width: $desktop-width) {
      margin-top: -23px;
      margin-bottom: 22px;
    }
  }

  &__item:nth-child(3) &__header {
    @media (min-width: $tablet-width) {
      margin-bottom: 14px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 22px;
    }
  }

  &__text {
    margin: 0;
    padding: 0;

    & br {
      display: none;
    }

    @include font(normal, 400, 14px, 24px);

    @media (max-width: $mobile-width-only) {
      text-align: center;
    }

    @media (min-width: $tablet-width) {
      text-align: left;
    }

    @media (min-width: $desktop-width) {
      @include font(normal, 400, 18px, 30px);
      text-align: center;

      & br {
        display: block;
      }
    }
  }

  &__image-wrapper {
    display: none;

    @media (min-width: $desktop-width) {
      position: relative;

      display: flex;
      flex-direction: column;
      align-items: center;
      order: -1;

      &::before {
        position: absolute;
        bottom: 0;
        z-index: 1;

        display: block;
        content: "";
        width: 300px;
        height: 80px;
        background-color: $graylight;
      }

      &::after {
        position: absolute;
        bottom: 60px;

        display: block;
        content: "";
        width: 300px;
        height: 17px;

        background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0) 0%,
          #000000 49.8%,
          rgba(0, 0, 0, 0) 93.23%
        );
        opacity: 0.3;
        filter: blur(4px);
      }
    }
  }

  &__main-image-wrapper {
    position: relative;

    @media (max-width: $mobile-width-only) {
      align-self: center;
    }

    @media (min-width: $tablet-width) {
      // top: 30px;
    }
  }

  &__main-image {
    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}
