@import "../shared/colors.scss";
@import "../shared/vars.scss";
@import "../shared/mixins.scss";

.advantages-content {
  background: linear-gradient(178deg, transparent 50px, $graylight 50px);

  @media (max-width: $mobile-width-only) {
    padding-top: 129px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 103px;
    padding-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 6px;
    padding-bottom: 59px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: $tablet-width) {
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    @media (min-width: $desktop-width) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (max-width: $mobile-width-only) {
      margin-bottom: 48px;
    }

    @media (min-width: $tablet-width) {
      width: 310px;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  &__item + &__item {
    @media (max-width: $mobile-width-only) {
      margin-top: 43px;
    }

    @media (min-width: $tablet-width) {
      margin-top: 46px;
    }

    @media (min-width: $desktop-width) {
      margin-top: auto;
    }
  }

  &__article {
    display: flex;
    flex-direction: column;

    @media (max-width: $mobile-width-only) {
      align-items: center;
    }

    @media (min-width: $tablet-width) {
      align-items: flex-start;
    }

    @media (min-width: $desktop-width) {
      align-items: center;
    }
  }

  &__header {
    margin: 0;
    padding: 0;
    margin-bottom: 24px;

    @include font(normal, 700, 18px, 24px);

    & br {
      display: none;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 35px;

      @include font(normal, 700, 30px, 30px);
      text-align: center;

      & br {
        display: block;
      }
    }
  }

  &__text {
    margin: 0;
    padding: 0;

    & br {
      display: none;
    }

    @include font(normal, 400, 14px, 24px);

    @media (max-width: $mobile-width-only) {
      text-align: center;
    }

    @media (min-width: $tablet-width) {
      text-align: left;
    }

    @media (min-width: $desktop-width) {
      @include font(normal, 400, 18px, 30px);
      text-align: center;

      & br {
        display: block;
      }
    }
  }

  &__image-wrapper {
    display: none;

    @media (min-width: $desktop-width) {
      position: relative;

      display: flex;
      flex-direction: column;
      align-items: center;
      order: -1;

      &::before {
        position: absolute;
        bottom: 0;
        z-index: 1;

        display: block;
        content: "";
        width: 300px;
        height: 59px;
        background-color: $graylight;
      }

      &::after {
        position: absolute;
        bottom: 45px;

        display: block;
        content: "";
        width: 300px;
        height: 17px;

        background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0) 0%,
          #000000 49.8%,
          rgba(0, 0, 0, 0) 93.23%
        );
        opacity: 0.3;
        filter: blur(4px);
      }
    }
  }

  &__main-image {
    object-fit: contain;

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}
