@import "../shared/colors.scss";
@import "../shared/mixins.scss";
@import "../shared/vars.scss";

.advantages-promo {
  &__slogan {
    margin: 0;
    padding: 0;

    @include font(normal, 300, 24px, 120%);
    color: $maincolor;
    text-align: center;

    @media (min-width: $tablet-width) {
      @include font(normal, 300, 40px, 54px);

      &:nth-of-type(1) br {
        display: none;
      }
    }

    @media (min-width: $desktop-width) {
      @include font(normal, 300, 50px, 68px);
    }
  }

  &__slogan + &__slogan {
    @media (max-width: $mobile-width-only) {
      margin-top: 35px;
    }

    @media (min-width: $tablet-width) {
      margin-top: 0;
    }
  }
}
