@import "../shared/colors.scss";
@import "../shared/mixins.scss";

.advantages-effect {
  display: none;

  @media (min-width: 660px) {
    display: block;
  }

  @media (min-width: 1200px) {
    background-color: $graylight;
  }

  &__wrapper {
    display: flex;
  }

  &__header {
    @include font(normal, 700, 30px, 36px);
  }

  &__text {
    @include font(normal, 400, 14px, 24px);
  }

  &__link {
    @include font(normal, 400, 14px, 24px);
    color: $pinkcolor;
  }
}
