@use '../shared/colors.scss' as color;

.advantages-content {
  background-color: color.$graylight;

  &__wrapper {
    width: 900px;
    margin: 0 auto;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__article {
    outline: 2px solid red;
  }

  &__header {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }

  &__text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }
}
