@import "../shared/colors.scss";
@import "../shared/mixins.scss";

.button {
  display: block;
  padding: 15px;
  // width: 100%;

  @include font(normal, 700, 18px, 18px);
  letter-spacing: 1px;
  text-decoration: none;
  color: $colorwhite;
  text-align: center;

  border: 3px solid $colorwhite;
  box-sizing: border-box;
  border-radius: 29px;

  @media (min-width: $desktop-width) {
    @include font(normal, 700, 19px, 18px);
  }

  &:hover {
    color: $pinkcolor;
    background-color: $colorwhite;
  }

  &:active {
    color: rgba($pinkcolor, 0.3);
  }
}
