@import "../shared/colors.scss";
@import "../shared/vars.scss";
@import "../shared/mixins.scss";

.page-promo {
  position: relative;
  z-index: 1;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $mobile-width-only) {
    padding-top: 91px;
    background-image: url("../img/back-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-mobile@2x.jpg");
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 184px;

    background-image: url("../img/back-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 208px;

    background-image: url("../img/back-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
    }
  }

  &__wrapper {
    width: 100%;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      max-width: 620px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 150px 150px 320px;
      grid-template-rows: 195px min-content;
    }

    @media (min-width: $desktop-width) {
      max-width: 1200px;
      padding: 0 130px;
      grid-template-columns: 346px 594px;
      row-gap: 51px;
    }
  }

  &__slogan-wrapper {
    @media (min-width: $tablet-width) {
      grid-row: 1;
      grid-column: 1/3;
    }

    @media (min-width: $desktop-width) {
      grid-row: 1;
      grid-column: 1/2;
    }
  }

  &__img-wrapper {
    position: relative;

    width: 100%;
    max-width: 320px;
    margin: 0 auto;

    @media (max-width: $mobile-width-only) {
      padding-top: 28px;
    }

    @media (min-width: $tablet-width) {
      margin: 0;
      width: 100%;
      max-width: none;
      grid-row: 1/-1;
      grid-column: 2/-1;
    }
  }

  &__img {
    display: block;
    margin: 0;
    padding: 0;

    @media (min-width: $tablet-width) {
      position: relative;
      // bottom: -33px;
      left: -172px;
      z-index: -1;
    }

    @media (min-width: $desktop-width) {
      left: -350px;
    }
  }

  &__devices {
    background-color: $graycolor;

    @media (max-width: $mobile-width-only) {
      padding-top: 28px;
      padding-bottom: 15px;
    }

    @media (min-width: $tablet-width) {
      padding-bottom: 50px;
      grid-row: 2;
      grid-column: 1/3;
      background-color: transparent;
    }

    @media (min-width: $desktop-width) {
      grid-column: 1/2;
      padding-bottom: 50px;
    }
  }

  &__devices-wrapper {
    width: 100%;
    max-width: 320px;
    padding: 0 20px;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      max-width: 100%;
      padding: 0;
    }
  }

  &__slogan {
    margin: 0;
    padding: 0;
    text-align: center;
    color: $colorwhite;

    @media (max-width: $mobile-width-only) {
      @include font(normal, 300, 24px, 120%);

      & br:nth-child(1) {
        display: none;
      }
    }

    @media (min-width: $tablet-width) {
      margin-top: 20px;

      @include font(normal, 300, 40px, 120%);
    }

    @media (min-width: $desktop-width) {
      @include font(normal, 300, 50px, 68px);
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;

    @media (max-width: $mobile-width-only) {
      margin-top: 32px;
    }

    @media (min-width: $tablet-width) {
      margin-top: 44px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 67px;
    }
  }

  &__item + &__item {
    margin-left: 35px;
  }

  &__item:nth-child(2) {
    margin-top: 10px;
  }

  &__item:nth-child(3) {
    margin-top: 10px;
  }

  &__text {
    @include font(normal, 300, 14px, 24px);
    text-align: center;
    color: $colorwhite;

    @media (max-width: $mobile-width-only) {
      margin-top: 15px;
    }

    @media (min-width: $tablet-width) {
      margin-top: 29px;

      @include font(normal, 300, 18px, 24px);
    }

    @media (min-width: $desktop-width) {
      margin-top: 58px;
    }
  }
}
