@import "../shared/colors.scss";
@import "../shared/mixins.scss";

.page-prices {
  position: relative;

  @media (max-width: $mobile-width-only) {
    padding-bottom: 44px;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 62px;
  }

  overflow: hidden;

  // background: linear-gradient(175deg, transparent 175px, $graylight 175px);

  &::before {
    position: absolute;
    z-index: -10;
    display: block;
    content: "";
    width: 100%;
    height: 100%;

    background-color: $graylight;

    @media (max-width: $mobile-width-only) {
      clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
    }

    @media (min-width: $tablet-width) {
      clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
    }

    @media (min-width: $desktop-width) {
      clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
    }
  }

  &__wrapper {
    margin: 0 auto;
    margin-top: 98px;
    // outline: 2px solid palegreen;

    @media (min-width: $tablet-width) {
      margin-top: 100px;
      max-width: 620px;
    }

    @media (min-width: $desktop-width) {
      max-width: 1200px;
      margin-top: 155px;
      padding: 0 130px;
    }
  }
}
