@import "../shared/colors.scss";
@import "../shared/mixins.scss";
@import "../shared/vars.scss";

.prices {
  @media (min-width: 660px) {
    width: 100%;
  }

  &__table {
    margin-bottom: 50px;

    @media (max-width: $mobile-width-only) {
      width: 290%;
      transform: translateX(-33%);
    }

    @media (min-width: 660px) {
      width: 100%;
      transform: none;
    }
  }

  &__header {
    padding-top: 10px;
    padding-bottom: 10px;
    color: $colorwhite;
    text-align: center;

    background-color: $maincolor;
  }

  &__header--hit {
    position: relative;
    overflow: hidden;
  }

  &__header--hit::before {
    position: absolute;
    display: block;
    content: "ХИТ";
    width: 90px;
    height: 25px;
    color: $colorwhite;
    background-color: $pinkcolor;
    transform: rotate(-45deg);

    @media (max-width: $mobile-width-only) {
      top: 10px;
      left: -20px;
    }

    @media (min-width: $tablet-width) {
      height: 17px;
      top: 7px;
      left: -20px;
    }

    @media (min-width: $desktop-width) {
      height: 17px;
      top: 15px;
      left: -20px;
    }
  }

  &__name {
    margin: 0;
    padding: 0;

    @include font(normal, 700, 16px, 30px);
    text-transform: uppercase;
  }

  &__price {
    margin: 0;
    padding: 0;

    @include font(normal, 300, 18px, 30px);
    text-transform: uppercase;
  }

  &__empty {
    display: none;

    @media (min-width: 660px) {
      display: block;
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }

  &__category {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;

    @include font(normal, 400, 14px, 30px);
    color: $maincolor;

    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }

  &__cell {
    width: 33.33%;

    @media (max-width: $mobile-width-only) {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    @media (min-width: $tablet-width) {
      width: 152px;
      padding-left: 10px;
      padding-right: 10px;
    }

    @media (min-width: $desktop-width) {
      width: 233px;
    }

    background-color: $colorwhite;
    // width: 25%;
    // outline: 2px solid palevioletred;
  }

  &__cell-wrapper {
    display: flex;

    @media (max-width: $mobile-width-only) {
      justify-content: space-between;
    }

    @media (min-width: $tablet-width) {
      justify-content: center;
    }
  }

  &__text {
    @include font(normal, 400, 14px, 30px);
    color: $maincolor;
    text-transform: uppercase;

    @media (min-width: 660px) {
      display: none;
    }
  }
}
