@import "../shared/colors.scss";
@import "../shared/mixins.scss";
@import "../shared/vars.scss";

.review {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    padding-top: 100px;
  }

  &__name {
    order: 0;
    margin: 0;
    padding: 0;

    @include font(normal, 700, 18px, 30px);

    @media (max-width: $mobile-width-only) {
      margin-bottom: 12px;
    }

    @media (min-width: $tablet-width) {
      order: 2;
      @include font(normal, 700, 20px, 30px);
    }
  }

  &__exprerience {
    margin: 0;
    padding: 0;

    @include font(normal, 400, 14px, 30px);

    @media (max-width: $mobile-width-only) {
      display: none;
    }

    @media (min-width: $tablet-width) {
      display: block;
      order: 3;
      margin-bottom: 29px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &__text {
    margin: 0;
    padding: 0;

    @include font(normal, 400, 14px, 30px);
    text-align: center;

    @media (max-width: $mobile-width-only) {
      margin-bottom: 25px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 38px;

      @include font(normal, 400, 18px, 30px);
    }

    @media (min-width: $desktop-width) {
      width: 600px;
      margin-bottom: 35px;
    }
  }
}
