@import "../shared/colors.scss";
@import "../shared/mixins.scss";

.review {
  margin: 0;
  padding: 0;
  outline: 2px solid $submitcolor;

  &__name {
    @include font(normal, 700, 18px, 30px);
  }

  &__exprerience {
    @include font(normal, 400, 14px, 30px);
  }

  &__text {
    @include font(normal, 400, 14px, 30px);
  }
}
