@import "../colors.scss";
@import "../mixins.scss";

.content-header {
  background-color: $graycolor;
  background-image: url("./img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &__header {
    @include font(normal, 300, 24px, 33px);
    color: $colorwhite;
  }
}
