@import "../colors.scss";
@import "../mixins.scss";

.page-footer {
  &__wrapper {
    text-align: center;
    @media (min-width: 660px) {
      display: flex;
      justify-content: space-between;
    }

    @media (min-width: 1200px) {
      background-color: $graylight;
    }
  }

  &__socials {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item + &__item {
    margin-left: 10px;
  }

  &__about-text {
    @include font(normal, 400, 14px, 18px);
  }
}
