@use '../colors.scss' as color;
@use '../mixins.scss' as mix;

.page-header {
  background-color: color.$maincolor;
  outline: 2px solid red;

  &__wrapper {
    width: 900px;
    margin: 0 auto;
  }

  &__logo:hover &__path {
    fill: color.$pinkcolor;
  }

  &__logo:active &__path {
    fill: color.$colorwhite;
    opacity: 0.3;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__link {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: color.$colorwhite;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      color: color.$pinkcolor;
    }

    &:active {
      color: color.$colorwhite;
      opacity: 0.3;
    }

    &--active {
      pointer-events: none;
      border-bottom: 2px solid color.$colorwhite;
    }
  }
}
