@import "../colors.scss";
@import "../mixins.scss";

.promo {
  &__wrapper {
    width: 900px;
    margin: 0 auto;
  }

  &__text {
    @include font(normal, 400, 14px, 30px);
    color: $maincolor;
  }
}
