.slider {
  position: relative;

  &__toggles {
    text-align: center;
    @media (min-width: 1200px) {
      display: none;
    }
  }

  &__previous {
    position: absolute;
    top: 50%;
    left: 0;
  }

  &__next {
    position: absolute;
    top: 50%;
    right: 0;
  }
}
