@import "../shared/colors.scss";
@import "../shared/mixins.scss";

.cancel-button {
  display: block;
  padding: 15px;

  @include font(normal, 700, 18px, 18px);
  text-decoration: none;
  color: rgba($maincolor, 0.1);

  background-color: transparent;
  border: 3px solid rgba($maincolor, 0.1);
  box-sizing: border-box;
  border-radius: 29px;

  &:hover {
    color: rgba($maincolor, 0.3);
    border-color: rgba($maincolor, 0.3);
  }

  &:active {
    color: rgba($colorwhite, 0.3);
    border-color: rgba($maincolor, 0.3);
    background-color: rgba($maincolor, 0.3);
    background-clip: padding-box;
  }
}
