@import "../shared/colors.scss";
@import "../shared/mixins.scss";
@import "../shared/vars.scss";

.editor {
  @media (max-width: $mobile-width-only) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 20px;
    padding-bottom: 41px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    padding-top: 57px;
    padding-bottom: 54px;
  }

  &__fieldset {
    border: none;
    margin: 0;
    padding: 0;

    @media (min-width: $tablet-width) {
      width: 100%;
      margin-bottom: 73px;
    }

    @media (min-width: $desktop-width) {
      // width: 100px;
      margin-bottom: 153px;
    }
  }

  &__photo {
    width: 100%;

    @media (max-width: $mobile-width-only) {
      margin-bottom: 18px;
    }

    @media (min-width: $tablet-width) {
      width: 300px;
      height: 400px;
      margin-bottom: 0;
      margin-right: 24px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 45px;
    }
  }

  &__settings {
    @media (max-width: $mobile-width-only) {
      align-self: center;
    }

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media (min-width: $tablet-width) {
      align-items: flex-start;
      justify-content: flex-start;
    }

    @media (min-width: $desktop-width) {
      grid-row: 1;
      grid-column: 2/4;
    }
  }

  &__filters {
    @media (max-width: $mobile-width-only) {
      // display: none;
    }

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__toggles {
    display: flex;
    justify-content: center;

    @media (max-width: $mobile-width-only) {
      margin-bottom: 14px;
    }
  }

  &__toggle {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background-color: transparent;

    path {
      fill: rgba($maincolor, 0.3);
    }

    &:hover path {
      fill: rgba($maincolor, 0.5);
    }

    &--active path {
      fill: $pinkcolor;
    }
  }

  &__toggle + &__toggle {
    @media (max-width: $mobile-width-only) {
      margin-left: 39px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $tablet-width) {
      width: 100%;
      padding-top: 10px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 0;
      padding-right: 22px;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;

    @media (max-width: $mobile-width-only) {
      display: none;
      padding-top: 13px;
      padding-bottom: 13px;
    }

    @media (min-width: $tablet-width) {
      padding: 0;
      padding-bottom: 23px;

      border-bottom: 1px solid rgba($maincolor, 0.1);
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 12px;
    }
  }

  &__item + &__item {
    @media (min-width: $tablet-width) {
      margin-top: 26px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 15px;
    }
  }

  &__item:last-child {
    @media (min-width: $desktop-width) {
      border-bottom: none;
      margin-top: 21px;
    }
  }

  &__item--active {
    @media (max-width: $mobile-width-only) {
      display: block;
    }
  }

  &__icon {
    @media (max-width: $mobile-width-only) {
      display: none;
    }

    @media (min-width: $tablet-width) {
      margin-right: 29px;
    }

    &--crop {
      @media (min-width: $tablet-width) {
        width: 22px;
        height: 22px;
      }

      @media (min-width: $desktop-width) {
        width: 44px;
        height: 44px;
      }
    }

    &--color {
      @media (min-width: $tablet-width) {
        width: 24px;
        height: 22px;
      }

      @media (min-width: $desktop-width) {
        width: 48px;
        height: 43px;
      }
    }

    &--balance {
      @media (min-width: $tablet-width) {
        width: 16px;
        height: 16px;
        margin-left: 3px;
      }

      @media (min-width: $desktop-width) {
        width: 32px;
        height: 32px;
      }
    }
  }

  &__range {
    @media (max-width: $mobile-width-only) {
      width: 240px;
    }

    @media (min-width: $tablet-width) {
      width: 202px;
    }

    @media (min-width: $desktop-width) {
      width: 288px;
    }
  }

  &__buttons {
    width: 100%;

    @media (max-width: $mobile-width-only) {
      border-top: 1px solid rgba($maincolor, 0.1);
      padding-top: 54px;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__submit {
    width: 100%;

    @media (max-width: $mobile-width-only) {
      margin-bottom: 12px;
    }

    @media (min-width: $tablet-width) {
      width: 260px;
      margin-bottom: 22px;
    }

    @media (min-width: $desktop-width) {
      width: 185px;
      margin-bottom: 0;
      margin-right: 35px;
    }
  }

  &__reset {
    width: 100%;

    @media (min-width: $tablet-width) {
      width: 260px;
    }

    @media (min-width: $desktop-width) {
      width: 185px;
    }
  }
}
