@import "../shared/colors.scss";
@import "../shared/mixins.scss";

.editor-promo {
  &__text {
    margin: 0;
    padding: 0;

    text-align: center;
    color: $maincolor;

    @media (max-width: $mobile-width-only) {
      @include font(normal, 400, 14px, 30px);
    }

    @media (min-width: $tablet-width) {
      @include font(normal, 400, 18px, 30px);
    }
  }

  @media (max-width: $mobile-width-only) {
    padding-top: 36px;
    padding-bottom: 44px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 63px;
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 67px;
    padding-bottom: 75px;
  }
}
