@import "../shared/colors.scss";
@import "../shared/mixins.scss";

.editor-promo {
  &__text {
    margin: 0;
    padding: 0;

    text-align: center;
    color: $maincolor;

    // br {
    //   display: none;
    // }

    @media (max-width: $mobile-width-only) {
      @include font(normal, 400, 14px, 30px);

      &-br1 {
        display: block;
      }
    }

    @media (min-width: $tablet-width) {
      @include font(normal, 400, 18px, 30px);

      // &-br1 {
      //   display: none;
      // }

      &-br2 {
        display: block;
      }

      &-br3 {
        display: none;
      }
    }
  }

  @media (max-width: $mobile-width-only) {
    padding-top: 49px;
    padding-bottom: 52px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 73px;
    padding-bottom: 78px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 67px;
    padding-bottom: 75px;
  }
}
