@import "../shared/colors.scss";
@import "../shared/mixins.scss";

.favorite-photo {
  &__photo {
    width: 100%;
  }

  &__header {
    @include font(normal, 700, 12px, 24px);
    color: $colorwhite;
    background-color: $pinkcolor;
  }
}
