@import "../shared/colors.scss";
@import "../shared/mixins.scss";
@import "../shared/vars.scss";

.favorite-photo {
  &__favorite {
    position: relative;
  }

  &__wrapper {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    // outline: 2px solid $pinkcolor;

    @media (min-width: $tablet-width) {
      max-width: 660px;
    }

    @media (min-width: $desktop-width) {
      max-width: 1200px;
    }
  }

  &__panorama {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 36px;
    margin: 0;
    padding: 0;

    background-color: $pinkcolor;

    @include font(normal, 700, 12px, 24px);
    color: $colorwhite;
    text-transform: uppercase;

    @media (max-width: $mobile-width-only) {
      top: 0;
      right: 20px;
    }

    @media (min-width: $tablet-width) {
      top: 57px;
      right: 20px;
    }

    @media (min-width: $desktop-width) {
      top: 54px;
      right: 130px;
    }
  }

  &__photo {
    width: 100%;

    // @media (max-width: $mobile-width-only) {
    //   width: 320px;
    //   height: 137px;
    // }

    // @media (min-width: $tablet-width) {
    //   width: 660px;
    //   height: 509px;
    // }

    // @media (min-width: $desktop-width) {
    //   width: 1200px;
    //   height: 506px;
    // }
  }

  &__header {
    @include font(normal, 700, 12px, 24px);
    color: $colorwhite;
    background-color: $pinkcolor;
  }
}
