@import "../shared/vars.scss";

.main-catalog {
  &__favorite {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 20px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 50px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 50px;
    }
  }
}
