@import "../shared/colors.scss";
@import "../shared/mixins.scss";
@import "../shared/vars.scss";

.posts {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 20px;
      row-gap: 54px;
    }
  }

  &__item:not(:last-child) {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 14px;
    }
  }
}
