@import "../shared/colors.scss";
@import "../shared/mixins.scss";

.posts {
  &__wrapper {
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: 660px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }

    @media (min-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
