@import "../shared/colors.scss";
@import "../shared/mixins.scss";

.post {
  background-color: $graylight;

  @media (min-width: $tablet-width) {
    height: 455px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &--big {
    height: 100%;
    margin-top: -4px;
  }

  &__content {
    position: relative;

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0 auto;

    @media (max-width: $mobile-width-only) {
      width: 245px;
      padding-top: 14px;
      padding-bottom: 26px;
    }

    @media (min-width: $tablet-width) {
      width: 240px;
      padding-top: 18px;
      padding-bottom: 24px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 31px;
      padding-bottom: 29px;
    }
  }

  &--big &__content {
    @media (max-width: $mobile-width-only) {
      width: 251px;
      padding-top: 17px;
      padding-bottom: 26px;
    }

    @media (min-width: $tablet-width) {
      width: 560px;
      padding-top: 25px;
      padding-bottom: 15px;
    }

    @media (min-width: $desktop-width) {
      width: 874px;
      padding-top: 31px;
      padding-bottom: 29px;
    }
  }

  &__image {
    order: -1;

    @media (min-width: $tablet-width) {
      width: 300px;
      height: 300px;
    }

    @media (min-width: $desktop-width) {
      width: 300px;
      height: 400px;
    }
  }

  &__header {
    display: flex;
    margin: 0;
    padding: 0;
  }

  &--big &__header {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 2px;
    }
  }

  &__name {
    margin: 0;
    padding: 0;
    margin-right: 5px;

    @include font(normal, 700, 14px, 24px);
    color: $maincolor;
  }

  &__time {
    margin: 0;
    padding: 0;

    @include font(normal, 300, 12px, 24px);
    color: $maincolor;
    text-transform: uppercase;
  }

  &__text {
    margin: 0;
    padding: 0;
    margin-bottom: 50px;

    @include font(normal, 400, 14px, 24px);
    color: $maincolor;

    @media (max-width: $mobile-width-only) {
      margin-bottom: 10px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 14px;
    }
  }

  &--big &__text {
    margin-bottom: 10px;
  }

  &__stats {
    display: flex;
    margin-top: auto;
    align-items: center;

    @media (min-width: $tablet-width) {
      justify-content: space-between;
    }
  }

  &--big &__stats {
    @media (min-width: $tablet-width) {
      position: absolute;
      right: 0;
    }
  }

  &__like {
    margin: 0;
    padding: 0;
    width: 13px;
    height: 12px;

    border: none;
    outline: none;
    background-color: transparent;
    background-image: url("../img/icons/heart.svg");

    @media (max-width: $mobile-width-only) {
      margin-right: 16px;
    }

    @media (min-width: $tablet-width) {
      order: 2;
    }
  }

  &__count {
    margin: 0;
    padding: 0;

    @include font(normal, 400, 12px, 24px);
    color: $pinkcolor;
    text-transform: uppercase;
  }

  &--big &__count {
    margin-right: 20px;
  }
}
