@import "../shared/colors.scss";
@import "../shared/vars.scss";

.range {
  -webkit-appearance: none;
  background: transparent;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;

    border: 2px solid $pinkcolor;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: $colorwhite;
    cursor: pointer;

    margin-top: -5px;
  }

  &::-moz-range-thumb {
    border: 2px solid $pinkcolor;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: $colorwhite;
    cursor: pointer;
  }

  &::-ms-thumb {
    border: 2px solid $pinkcolor;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: $colorwhite;
    cursor: pointer;
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: $maincolor;
  }

  &::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: $maincolor;
  }

  &::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: $maincolor;
  }

  &:focus {
    outline: none;
  }

  &::-ms-track {
    width: 100%;
    cursor: pointer;

    background: transparent;
    border-color: transparent;
    color: transparent;
  }
}
