@import "../shared/colors.scss";
@import "../shared/vars.scss";

.range {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 150px;
  height: 14px;
  position: relative;

  &__scale {
    height: 2px;
    background-color: $maincolor;
  }

  &__toggle {
    width: 14px;
    height: 14px;
    border: 2px solid $pinkcolor;
    border-radius: 50%;
    background-color: $colorwhite;
    box-sizing: content-box;
    position: absolute;
    left: 0;
    cursor: pointer;

    &--crop {
      left: 80%;
    }

    &--color {
      left: 20%;
    }

    &--balance {
      left: 50%;
    }

    &:active {
      background-color: $pinkcolor;
    }
  }
}
