@import "../shared/colors.scss";
@import "../shared/mixins.scss";

.fieldset {
  &__legend {
    margin: 0 auto;
    padding: 20px;

    @include font(normal, 400, 14px, 30px);
    color: $pinkcolor;
    text-transform: uppercase;
  }
}
