@import "../shared/colors.scss";
@import "../shared/mixins.scss";
@import "../shared/vars.scss";

.filter-params {
  grid-column: 1/-1;

  @media (max-width: $mobile-width-only) {
    padding-top: 38px;
  }

  background-color: $lightgray;

  @media (min-width: $tablet-width) {
    background-color: $colorwhite;
  }

  &__legend {
    @media (max-width: $mobile-width-only) {
      @include font(normal, 400, 14px, 18px);
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $tablet-width) {
      margin-left: 60px;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 116px;
      justify-content: space-between;

      margin: 0;
      margin-left: 62px;
      margin-right: 66px;
    }
  }

  &__item + &__item {
    @media (max-width: $mobile-width-only) {
      margin-top: 46px;
    }

    @media (min-width: $tablet-width) {
      margin-top: 47px;
    }
  }

  &__item:nth-child(1n) {
    @media (min-width: $desktop-width) {
      margin-top: 0;
      margin-right: 57px;
    }
  }

  &__item:nth-child(2n) {
    @media (min-width: $desktop-width) {
      margin-top: 26px;
    }
  }
}
