@use '../shared/colors.scss' as color;
@use '../shared/mixins.scss' as mix;

.filter-contacts {
  border: none;

  &__wrapper {
    width: 900px;
    margin: 0 auto;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
