@import "../shared/colors.scss";
@import "../shared/mixins.scss";

.filter-feedback {
  grid-column: 1/-1;
  border: none;

  &__textarea {
    display: block;

    width: 100%;
    padding: 15px;
    border: 2px solid $inputcolor;

    @include font(normal, 400, 18px, 30px);

    @media (max-width: $mobile-width-only) {
      height: 202px;
    }

    @media (min-width: $tablet-width) {
      height: 194px;
    }
  }
}
