@import "../shared/colors.scss";
@import "../shared/mixins.scss";
@import "../shared/vars.scss";

.filter-form {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 74px;
  }

  @media (min-width: $desktop-width) {
    &__user,
    &__app {
      margin-bottom: 30px;
    }
  }

  &__user {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 44px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 53px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 30px;
    }
  }

  &__params {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 30px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 52px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 30px;
    }
  }

  &__feedback {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 48px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 64px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 30px;
    }
  }

  &__contacts {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 30px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 50px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 30px;
    }
  }

  &__app {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 38px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 53px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 30px;
    }
  }
}
