@import "../shared/colors.scss";
@import "../shared/mixins.scss";
@import "../shared/vars.scss";

.filter-contacts {
  border: none;
  grid-column: 1/-1;

  @media (min-width: $tablet-width) {
    grid-row: 3;
  }

  @media (min-width: $desktop-width) {
    grid-row: 2;
  }

  &__legend {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $tablet-width) {
      margin-left: 58px;
      margin-right: 60px;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
      padding: 0 62px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 74px;
    }
  }

  &__item + &__item {
    @media (max-width: $mobile-width-only) {
      margin-top: 17px;
    }

    @media (min-width: $tablet-width) {
      margin-top: 32px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 0;
    }
  }

  &__label {
    @media (max-width: $mobile-width-only) {
      margin-left: 24px;
      margin-bottom: 9px;
    }

    @media (min-width: $tablet-width) {
      margin-left: 18px;
      margin-top: 12px;
    }
  }

  &__input-wrapper {
    display: flex;

    @media (min-width: $tablet-width) {
      &::after {
        content: "";
        display: block;
        min-width: 59px;
        min-height: 59px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        background-color: $inputcolor;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  &__input-wrapper--phone {
    @media (min-width: $tablet-width) {
      &::after {
        background-image: url("../img/icons/phone icon.svg");
      }
    }
  }

  &__input-wrapper--mail {
    @media (min-width: $tablet-width) {
      &::after {
        background-image: url("../img/icons/mail icon.svg");
      }
    }
  }
}
