@import "../shared/colors.scss";
@import "../shared/mixins.scss";
@import "../shared/vars.scss";

.filter-form {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 74px;

    // width: 100%;
    // max-width: 320px;
    // padding: 0 20px;
    // margin: 0 auto;
    // // outline: 2px solid $pinkcolor;

    // @media (min-width: $tablet-width) {
    //   padding: 0 20px;
    //   max-width: 620px;
    // }

    @media (min-width: $desktop-width) {
      // max-width: 1200px;
      // padding: 0 130px;
    }
  }

  @media (min-width: $desktop-width) {
    &__user,
    &__app {
      margin-bottom: 30px;
    }
  }

  &__user {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 30px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 50px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 30px;
    }
  }

  &__params {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 30px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 50px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 30px;
    }
  }

  &__feedback {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 30px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 50px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 30px;
    }
  }

  &__contacts {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 30px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 50px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 30px;
    }
  }

  &__app {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 30px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 50px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 30px;
    }
  }
}
