@import "../shared/colors.scss";
@import "../shared/mixins.scss";
@import "../shared/vars.scss";

.filter-user {
  grid-column: 1/-1;
  border: none;

  @media (min-width: $desktop-width) {
    grid-row: 1;
    grid-column: 1/2;
    margin-left: auto;
    padding-top: 15px;
  }

  &__wrapper {
    width: 100%;
    max-width: 320px;
    padding: 0 20px;
    margin: 0 auto;
    height: 100%;
    // outline: 2px solid $pinkcolor;

    @media (min-width: $tablet-width) {
      padding: 0;
      max-width: 620px;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
      width: 431px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $desktop-width) {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__item + &__item {
    @media (max-width: $mobile-width-only) {
      margin-top: 14px;
    }

    @media (min-width: $tablet-width) {
      margin-top: 40px;
    }
  }

  &__item:nth-child(1) {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 18px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 52px;
    }
  }

  &__item:nth-child(2) {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 20px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 52px;
    }
  }

  &__text-input {
    width: 100%;
  }

  &__label {
    @media (max-width: $mobile-width-only) {
      margin-left: 23px;
      margin-bottom: 7px;
    }

    @media (min-width: $tablet-width) {
      margin-right: 20px;
    }
  }
}
