@import "../shared/colors.scss";
@import "../shared/mixins.scss";

.filter-params {
  grid-column: 1/-1;

  background-color: $lightgray;

  @media (min-width: 660px) {
    background-color: $colorwhite;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
