@import "../shared/colors.scss";
@import "../shared/mixins.scss";

.filter-user {
  grid-column: 1/-1;
  border: none;

  @media (min-width: 1200px) {
    grid-row: 1;
    grid-column: 1/2;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
