@use '../shared/colors.scss' as color;
@use '../shared/mixins.scss' as mix;

.popup {
  position: fixed;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  width: 568px;
  padding: 55px;

  border-radius: 1px;
  background-color: color.$colorwhite;
  box-shadow: 0px 7px 15px color.$popupshadow;

  &__header {
    @include mix.font(normal, 700, 18px, 24px);
    color: color.$colorblack;
  }

  &__text {
    @include mix.font(normal, 400, 14px, 24px);
    color: color.$maincolor;
  }
}
