@import "../shared/colors.scss";
@import "../shared/mixins.scss";
@import "../shared/vars.scss";

.radio {
  &__label {
    display: flex;
    align-items: center;

    @include font(normal, 400, 18px, 30px);
    color: $maincolor;
  }

  &__input + &__label::before {
    content: "";
    display: block;
    width: 37px;
    height: 37px;
    background-color: $colorwhite;

    @media (max-width: $mobile-width-only) {
      margin-right: 31px;
    }

    @media (min-width: $tablet-width) {
      margin-right: 22px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 22px;
    }

    border: 2px solid $inputcolor;
    border-radius: 50%;
  }

  &__input:checked + &__label::before {
    background-image: url("../img/filters/radio.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &__label:hover::before {
    border-color: $maincolor;
  }

  &__label:active::before {
    border-color: $pinkcolor;
  }
}
