@use '../shared/colors.scss' as color;
@use '../shared/mixins.scss' as mix;

.submit {
  padding: 20px;

  @include mix.font(normal, 700, 18px, 30px);
  color: color.$colorwhite;
  text-transform: uppercase;

  background-color: color.$submitcolor;
  border: none;
  border-radius: 1px;

  &:hover {
    background-color: color.$submithovercolor;
  }

  &:active {
    color: rgba(color.$colorwhite, 0.3);
  }

  &:disabled {
    background-color: color.$inputcolor;
  }
}
