@import "../shared/colors.scss";
@import "../shared/mixins.scss";
@import "../shared/vars.scss";

.submit-form {
  grid-column: 1/-1;

  @media (max-width: $mobile-width-only) {
    margin-bottom: 18px;
  }

  &__wrapper {
    @media (max-width: $mobile-width-only) {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }

    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__button {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 33px;
    }
  }

  &__note {
    padding: 0;
    margin: 0;

    @include font(normal, 400, 14px, 30px);
    color: $maincolor;
    text-transform: uppercase;

    @media (max-width: $mobile-width-only) {
      align-self: center;
    }
  }

  &__emphasis {
    color: $pinkcolor;
  }
}
