@import "../shared/colors.scss";
@import "../shared/mixins.scss";

.submit {
  display: block;
  padding: 20px;
  height: 65px;

  @include font(normal, 700, 18px, 30px);
  color: $colorwhite;
  text-transform: uppercase;

  background-color: $submitcolor;
  border: none;
  border-radius: 1px;

  &:hover {
    background-color: $submithovercolor;
  }

  &:active {
    color: rgba($colorwhite, 0.3);
  }

  &:disabled {
    background-color: $inputcolor;
  }

  &--success {
    @media (max-width: $mobile-width-only) {
      width: 278px;
    }

    @media (min-width: $tablet-width) {
      width: 300px;
    }

    @media (min-width: $desktop-width) {
      width: 460px;
    }
  }

  &--error {
    @media (max-width: $mobile-width-only) {
      width: 278px;
    }

    @media (min-width: $tablet-width) {
      width: 300px;
    }

    @media (min-width: $desktop-width) {
      width: 300px;
    }
  }
}
