@import "../shared/colors.scss";
@import "../shared/mixins.scss";

.text-input {
  @media (min-width: 660px) {
    display: flex;
  }

  @media (min-width: 1200px) {
  }

  &__label {
    display: block;
    @include font(normal, 400, 14px, 30px);
    color: $pinkcolor;
    text-transform: uppercase;
  }

  &__input {
    width: 100%;
    padding: 10px;
    border: 2px solid $inputcolor;
    border-radius: 1px;
    outline: none;
  }

  &__input::placeholder {
    @include font(normal, 400, 18px, 30px);
    color: $maincolor;
  }

  &__input:hover {
    border-color: $maincolor;
  }

  &__input:focus {
    border-color: $pinkcolor;
  }
}
