@import "../shared/colors.scss";
@import "../shared/mixins.scss";
@import "../shared/vars.scss";

.text-input {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &--contacts {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  &--contacts &__label {
    @media (min-width: $tablet-width) {
      order: 2;
      align-self: flex-start;
    }
  }

  &__label {
    display: block;

    @include font(normal, 400, 14px, 30px);

    color: $pinkcolor;
    text-transform: uppercase;
  }

  &__input {
    width: 100%;
    padding-left: 20px;
    padding-top: 23px;
    padding-bottom: 23px;
    height: 59px;
    border: 2px solid $inputcolor;
    border-radius: 3px;
    outline: none;
  }

  &__input::placeholder {
    @include font(normal, 400, 18px, 30px);
    color: $maincolor;
  }

  &__input:hover {
    border-color: $maincolor;
  }

  &__input:focus {
    border-color: $pinkcolor;
  }
}
