@import "../shared/colors.scss";
@import "../shared/mixins.scss";

.content-header {
  background-color: $graycolor;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $mobile-width-only) {
    background-image: url("../img/back-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-mobile@2x.jpg");
    }
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/back-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/back-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
    }
  }

  &__header {
    @include font(normal, 300, 24px, 33px);
    color: $colorwhite;
    text-align: center;
  }

  &--catalog {
    @media (max-width: $mobile-width-only) {
      padding-top: 75px;
      padding-bottom: 56px;
    }

    @media (min-width: $tablet-width) {
    }

    @media (min-width: $desktop-width) {
    }
  }
}
