@import "../shared/colors.scss";
@import "../shared/mixins.scss";

.content-header {
  background-color: $graycolor;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $mobile-width-only) {
    padding-top: 102px;
    padding-bottom: 51px;
    background-image: url("../img/back-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-mobile@2x.jpg");
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 120px;
    padding-bottom: 74px;

    background-image: url("../img/back-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 184px;
    padding-bottom: 104px;

    background-image: url("../img/back-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
    }
  }

  &__header {
    @include font(normal, 300, 24px, 33px);
    color: $colorwhite;
    text-align: center;

    @media (max-width: $mobile-width-only) {
      &-br1 {
        display: block;
      }

      &-br2 {
        display: none;
      }
    }

    @media (min-width: $tablet-width) {
      @include font(normal, 300, 50px, 68px);

      &-br1 {
        display: none;
      }

      &-br2 {
        display: block;
      }
    }
  }
}
