@import "../shared/colors.scss";
@import "../shared/mixins.scss";
@import "../shared/vars.scss";

.promo {
  &__wrapper {
    display: flex;
    justify-content: center;
  }

  &__text {
    margin: 0;
    padding: 0;

    color: $maincolor;
    text-align: center;

    @media (max-width: $mobile-width-only) {
      @include font(normal, 400, 14px, 30px);
    }

    @media (min-width: $tablet-width) {
      @include font(normal, 400, 18px, 30px);
    }
  }

  @media (max-width: $mobile-width-only) {
    &--catalog {
      padding-top: 44px;
      padding-bottom: 50px;
    }

    &--catalog &__text {
      width: 250px;
    }
  }

  @media (min-width: $tablet-width) {
    &--catalog {
      padding-top: 100px;
      padding-bottom: 85px;
    }

    &--form {
      padding-top: 54px;
      padding-bottom: 55px;
    }
  }

  @media (min-width: $desktop-width) {
    &--catalog {
      padding-top: 100px;
      padding-bottom: 97px;
    }

    &--form {
      padding-top: 54px;
      padding-bottom: 55px;
    }
  }
}
