@import "../shared/vars.scss";

.wrapper {
  width: 100%;
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  // outline: 2px solid $pinkcolor;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
    max-width: 620px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    padding: 0 130px;
  }
}
